<br><h2>Hi there, <%= @user.username %></h2><br>

<% if flash[:notice] %>
    <div class="notice"><%= flash[:notice] %></div>
<% end %>

<% if flash[:alert] %>
    <div class="alert"><%= flash[:alert] %></div>
<% end %>

<h3>Festivals you are going to: </h3>
<ul>
    <% @user.festivals.each  do |festival| %>
        <li>
            <%= link_to festival.name, festival %>
        </li>
    <% end %>
</ul><br>


<h4>Your reviews:<h4>
<ul>
    <% @user.reviews.each do |review| %>
        <li>
            <%= link_to review.festival.name, review.festival %>:
            <%= review.text %>
        </li>
    <% end %>
</ul>