<h1>Hi there, <%= current_user.name %></h1>. 

<% if flash[:notice] %>
    <div class="notice"><%= flash[:notice] %></div>
<% end %>

<% if flash[:alert] %>
    <div class="alert"><%= flash[:alert] %></div>
<% end %>

<% if false %>
<h3>Festival you are goit to: <% @user.festivals %>
<%= render(@festivals) || "There are no festivals you are going to!" %>
<% end %>

<% if false %>
<h3>Your reviews: <% @user.reviews %>
<%= render(@festivals) || "There are no festivals you are going to!" %>
<% end %>