<h1>Edit your review</h1>

<%= form_for(@review) do |f| %>
  <%= f.label :festival %>
  <%= f.collection_select :festival_id, Festival.all, :id, :name %>
  
  <%= f.label "Please edit your review here (max 200 characters):" %>
  <%= f.text_field :review %>

  <%= f.submit "Leave your review" %>

<% end %>
